@using Azure.AI.OpenAI
<div class="chat-container">
    <h3>Simulation</h3>
    <div class="chat-window">
        @foreach (var message in _messages)
        {
            if (message is ChatRequestUserMessage)
            {
                <div class="chat-message user-message">
                    @((message as ChatRequestUserMessage)?.Content)
                </div>
            }
            else if (message is ChatRequestAssistantMessage)
            {
                <div class="chat-message ai-message">
                    @((message as ChatRequestAssistantMessage)?.Content)
                </div>
            }
        }
    </div>
    <div class="chat-input-container">
        <FluentTextField @bind-Value="UserInput" Placeholder="Type your message here..." Style="flex-grow: 1;" @onkeypress="OnEnter" />
        <FluentButton OnClick="SendMessage" Style="margin-left: 10px;" IconStart="@(new Icons.Regular.Size16.Send())">Send</FluentButton>
    </div>
</div>