@using Azure.AI.OpenAI
<h3>Feedback</h3>
<div class="feedback-display">
    @foreach (var message in _messages)
    {
        if (message is ChatRequestAssistantMessage)
        {
            <FluentCard Width="100%" Style="margin-bottom: 10px">
                @((message as ChatRequestAssistantMessage)?.Content)
            </FluentCard>
        }
    }
</div>