@using Microsoft.SemanticKernel.ChatCompletion
<div class="feedback-container">
    <h3>Feedback</h3>
    <div class="feedback-window">
        @foreach (var message in _messages)
        {
            if (message.Role == AuthorRole.Assistant)
            {
                <div class="feedback-message">
                    <MarkdownSection Content=@message.Content/>
                </div>
            }
        }
    </div>
</div>