<div>
    <AuthorizeView>
        <Authorized>
            <FluentNavLink Href="account/logout" Match="NavLinkMatch.All">Logout</FluentNavLink>
        </Authorized>
        <NotAuthorized>
            <FluentNavLink Href="account/login?redirectUri=/" Match="NavLinkMatch.All">Login</FluentNavLink>
        </NotAuthorized>
    </AuthorizeView>
</div>