@inherits LayoutComponentBase
<FluentLayout>
    <FluentHeader Height="75" Class="app-header">
        <FluentStack Orientation="Orientation.Horizontal">
            <img src="images/logo_white.png" height="25px" />
            <FluentSpacer />
            <Login />
        </FluentStack>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        TheraSim &copy; 2024. All rights reserved.
    </FluentFooter>
</FluentLayout>
<FluentTooltipProvider />
<FluentDialogProvider />
