.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    background-color: var(--fluent-color-brand-foreground2);
    color: var(--fluent-color-neutral-foreground-on-brand);
    height: 48px;
    justify-content: space-between;
    width: 100%;
}

.header h1 {
    padding-left: var(--fluent-spacing-horizontal-xl);
    display: flex;
}

.persona {
    margin-right: var(--fluent-spacing-horizontal-xxl);
}

.corner-items {
    display: flex;
    gap: var(--fluent-spacing-horizontal-s);
}
