<div class="chat-input-container">
    <FluentButton Appearance="Appearance.Accent" Type="ButtonType.Button" Style="margin-left: 10px;" IconStart="@(_micIcon)" OnClick="StartStopContinuousRecognitionAsync"></FluentButton>
</div>