<FluentStack HorizontalAlignment="HorizontalAlignment.Center">
    <div class="session-controls-container">
        <FluentButton Class="session-controls-button" Appearance="Appearance.Accent" Type="ButtonType.Button" IconStart="@(_micIcon)" OnClick="StartSpeechRecognition"></FluentButton>
        <FluentButton Class="session-controls-button" Appearance="Appearance.Accent" Type="ButtonType.Button" IconStart="@(_chatIcon)" OnClick="HideChatContainer"></FluentButton>
        <FluentButton Class="session-controls-button" Appearance="Appearance.Accent" Type="ButtonType.Button" IconStart="@(_feedbackIcon)" OnClick="HideFeedbackContainer"></FluentButton>
    </div>
</FluentStack>