<FluentStack Orientation="Orientation.Vertical">
    <FluentLabel Typo="Typography.H3">@Content.Name</FluentLabel>
    <FluentLabel Typo="Typography.H4">Scenario</FluentLabel>
    <p>@Content.Scenario</p>
    <FluentLabel Typo="Typography.H4">Challenge</FluentLabel>
    <p>@Content.Challenge</p>
</FluentStack>
