<FluentStack Orientation="Orientation.Vertical">
    <FluentLabel Typo="Typography.H3">@Content.Name</FluentLabel>
    <FluentLabel Typo="Typography.H4">Scenario</FluentLabel>
    <p>@Content.Scenario</p>
    <FluentLabel Typo="Typography.H4">Challenge</FluentLabel>
    <p>@Content.Challenge</p>
    <FluentLabel Typo="Typography.H5" Style="color:red">NOTE: Wait for the avatar to "wake up" (it should start blinking eyes etc) before clicking Start. Do this before starting each task. If it does not wake up in the next minute please contact support at tomasz@therasim.ai</FluentLabel>
</FluentStack>
