<FluentLabel Typo="Typography.H4">Client Persona</FluentLabel>
<MarkdownSection Content=@UserAssessmentTask.ClientPersona />
<FluentLabel Typo="Typography.H4">Scenario</FluentLabel>
<p>@UserAssessmentTask.Scenario</p>
<FluentLabel Typo="Typography.H4">Challenge</FluentLabel>
<p>@UserAssessmentTask.Challenge</p>
