@page "/chat"

<PageTitle>Chat</PageTitle>
<FluentStack Style="height: 100%">
    <div style="width: 60%; height: 100%">
        <ChatConversation OnChatUpdated="HandleChatUpdated" />
    </div>
    <div style="width: 40%; height: 100%">
        <Feedback @ref="FeedbackComponent" />
    </div>
</FluentStack>