@page "/session/{sessionId:guid}"
<PageTitle>Simulation</PageTitle>
<FluentStack Style="height: 100%">
    <div style="width: 720px; height: 100%">
        <RenderAvatar @ref="_renderAvatarComponent" />
        <SessionControls OnSpeechRecognized="HandleSpeechRecognized" />
    </div>
    <div style="height: 100%">
        <ShowChat OnUserMessageSend="HandleUserMessageSend" ChatHistory="_chatHistory" />
    </div>
    <div style="height: 100%">
        <ShowFeedback @ref="_showFeedbackComponent" SessionId="SessionId" />
    </div>
</FluentStack>