@page "/session/{sessionId:guid}"
<PageTitle>Simulation</PageTitle>
<FluentStack Style="height: 100%">
    <div style="width: 720px; height: 100%">
        <RenderAvatar @ref="_renderAvatarComponent" />
        <SessionControls OnSpeechRecognized="HandleSpeechRecognized" />
    </div>
    <div style="height: 100%">
        <ChatContainer @ref="_chatContainerComponent" OnUserMessageSend="HandleUserMessageSend" ChatHistory="_chatHistory" />
    </div>
    <div style="height: 100%">
        <FeedbackContainer @ref="_feedbackContainerComponent" SessionId="SessionId" />
    </div>
</FluentStack>