@page "/user/assessments/{userAssessmentId:guid}/feedback"
<PageTitle>Assessment Feedback</PageTitle>
<FluentStack>
    <div class="session-column">
        <div class="feedback-container">
            <h3>Feedback</h3>
            <div class="feedback-window">
                <div class="feedback-message">
                    @if (_userAssessment?.Feedback != null)
                    {
                        <MarkdownSection Content=@_userAssessment.Feedback />
                    }
                </div>
            </div>
        </div>
    </div>
</FluentStack>