<FluentLabel Typo="Typography.H4">Client Persona</FluentLabel>
<p><MarkdownSection Content=@AssessmentTask.ClientPersona /></p>
<FluentLabel Typo="Typography.H4">Scenario</FluentLabel>
<p>@AssessmentTask.Scenario</p>
<FluentLabel Typo="Typography.H4">Challenge</FluentLabel>
<p>@AssessmentTask.Challenge</p>
