<div id="videoContainer" style="position: relative; width: 960px;">
    <div id="overlayArea" style="position: absolute;" hidden="hidden">
        <!-- Add your text or image controls here -->
        <p id="overlayText" style="font-size: large;">Live Video</p>
        <!-- <img id="overlayImage" src="your-image-source.png" alt="Overlay Image"> -->
    </div>
    <div id="remoteVideo"></div>
    <canvas id="canvas" width="1920" height="1080" style="background-color: transparent;" hidden="hidden"></canvas>
    <canvas id="tmpCanvas" width="1920" height="1080" hidden="hidden"></canvas>
</div>
