<div id="videoContainer" style="position: relative; width: 720px; height: 1080px">
    <div id="overlayArea" style="position: absolute;">
        <img id="overlayImage" src="/images/avatar-lisa.png" alt="avatar">
    </div>
    <div id="remoteVideo"></div>
    <canvas id="canvas" width="720" height="1080" style="background-color: transparent;" hidden="hidden"></canvas>
    <canvas id="tmpCanvas" width="720" height="1080" hidden="hidden"></canvas>
</div>
